.hero-section {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://images.unsplash.com/photo-1513104890138-7c749659a591?auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 80px 0;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.cadastro-header {
  background:
    linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("https://images.unsplash.com/photo-1513104890138-7c749659a591?auto=format&fit=crop&w=1350&q=80");

  background-size: cover;
  background-position: center;

  color: white;

  padding: 55px 0;
}

.cadastro-card {
  border-radius: 12px;
}

.cadastro-card .form-control,
.cadastro-card .form-select {
  padding: 12px;
}

.cadastro-card .form-control:focus,
.cadastro-card .form-select:focus {
  border-color: #ffc107;

  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25);
}
